div style="clear:both"
 span ="Did you really want to reject this candidate? If so,please click 'Confirm' button, or click 'Cancel' button."
input id="candidateid" type="hidden"
input id="candidatename" type="hidden"
input id="openingid" type="hidden"
