div style="clear:both"
 span ="Did you really want to remove this candidate? If so,please click 'Confirm' button, or click 'Cancel' button."
input id="candidateid_remove" type="hidden"
input id="candidatename_remove" type="hidden"
input id="openingid_remove" type="hidden"
