div style="clear:both"
 span ="Did you really want to make an offer for this candidate? If so,please type your summary for the candidate in the textarea below,and then click 'Confirm' button." 
input id="candidateid" type="hidden"
input id="candidatename" type="hidden"
input id="openingid" type="hidden"
div class="div-comment"
  textarea id="summary" class="input-comment1"  onfocus="if(value=='Type your summary,100 characters only.') {value=''} " onblur="if(value=='') {value='Type your summary,100 characters only.'} "  maxlength="101" value="Type your summary,100 characters only."
