.navbar {
    border-bottom: 1px solid #001C27;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    color: #777777;
    height: auto;
    margin-bottom: 20px;
    margin-bottom: 0;
    overflow: visible;
    position: static;
}

.navbar .navbar-inner, 
.navbar .fill {
    background-color: #3973AC;
    background-image: none;
    background-repeat: repeat-x;
    border: medium none;
    border-radius: 0 0 0 0;
}

.navbar h3 {
    margin: 0;
}

.navbar h3 a, 
.navbar .brand {
    padding: 4px;
    margin-left: -45px;
}

.navbar ul.nav {
    float: right;
}

.navbar ul.nav li {
    display: block;
    float: left;
    font-size: 15px;
}

.navbar ul.nav li a {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 14px 10px;
    text-shadow: none;
}

.navbar ul.nav li a:link, 
.navbar ul.nav li a:visited {
}

.navbar ul.nav li a:hover, 
.navbar ul.nav li a:active {
    color: #000;
    text-decoration: underline;
}

.navbar ul.nav li.active > a, 
.navbar ul.nav li.active > a:hover, 
.navbar ul.nav li:active > a:active, 
.navbar ul.nav li:active > a:link, 
.navbar ul.nav li:active > a:visited {
    background-color: #222;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    color: #FFFFFF;
}
